*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-otf-webfont.eot');
    font-weight: normal;
    font-style: normal;

}

body {

font-family: Gill Sans Extrabold, sans-serif;

}
#left-content{
    width: 300px;
    height: 100%;
    background-color: #ccc;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ccc;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(177, 164, 164);
  border-radius: 20px;
  width: 2px;
}

li{
    list-style-type: none;
    font-size: 18px;
}
h1{
    margin-bottom: 30px;
}
img{
    width: 200px;
    height: 200px;
}
#left-content h2{
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
#left-content h2::after{
    content: "";
    width: 100%;
    background-color: #000;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.contact-info{
    margin: 10px 0;
}
#right-content{
    width: 900px;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    margin-left: 20rem;
}
section{
    margin: 20px 0;
}
#right-content h2{
    margin-bottom: 10px;
}
.skill-list{
    column-count: 2;
}
p{
    font-size: 18px;
}